core
daf
outputs_temp/
outputs/
data/
ncarles_results/
*.tar.gz
test_runs/
*.sh
*.mp4
*.jld2
langmuir_turbulence.mp4
langmuir_turbulence_temp_buoy.mp4
test.o*
data/
*.png
localoutputs/
localoutputs/*
.DS_Store
